[submodule ".cargo"]
	path = .cargo
	url = https://github.com/lemonrock/.cargo.git
[submodule "tools/bindgen-wrapper"]
	path = tools/bindgen-wrapper
	url = https://github.com/lemonrock/bindgen-wrapper
[submodule "lib/dpdk"]
	path = lib/dpdk
	url = http://dpdk.org/git/dpdk
[submodule "lib/tldk"]
	path = lib/tldk
	url = https://gerrit.fd.io/r/tldk
	branch = master
